.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidebar {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.map {
  width: 100%;
  margin: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.dropdowns{
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.parameter-select label, .country-select label, .year-select label {
  font-size: 1rem;
  font-weight: bold;
  margin: 0.5rem 0;
  display: block;
}

.chart {
  margin: 1rem;
}


.chart svg {
  width:820px!important;
}

.tooltip-wrap svg {
  width: 20px!important;
}


.year-select-flex {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.year-select-dropdown {
  width: 45%;
}

.checkbox-container {
  display: flex;
  flex-wrap: wrap;
}

.checkbox-item {
  display: flex;
  margin: 0.5rem;
}

.checkbox-item label {
  margin: 0;
  font-weight: 600;
}

.loading-bars {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;
}
.loading-bars div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #424242;
  animation: loading-bars 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loading-bars div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.loading-bars div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.loading-bars div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes loading-bars {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

.center-container {
  height: 500px;
  width: 800px;
  display: flex;
  border:1px solid #424242;
}
.country-select p, .parameter-select p, .year-select p {
  color:grey;
  display: block;
  margin: 0.5rem 0;
}

.chart-container {
  height: 500px;
  width: 800px;
  margin: 1rem;
}

.sidebar h1 {
  margin-top:1.5rem;
  margin-bottom:0;
}

.graph-container h1 {
  margin-top:0;
  margin-bottom:1rem;
}

.error-message {
  background-color: rgba(252, 116, 116,0.2);
  color:rgb(212, 69, 69);
  border-radius: 10px;
  padding: 1rem;
}

.map {
  display: flex;
}

.map svg {
  height: 80%;
  width: 80%;
  margin:auto
}

path { stroke:#474646;}

.single-year-select-dropdown {
  width:40%;
  margin:auto;
}

.colorbar-container, .numberbar-container {
  height: 2rem;
  width: 80%;
  display: flex;
  border:1px solid #424242;
  margin: auto;
}

.numberbar-container {
  border:none;
}

.colorbar-segment {
  height: 2rem;
  width: 10%;
  border-right: 1px solid #424242;
}

.number-element {
  margin:0 1.2rem;
}

.country-badge {
  padding:0.5rem 0.8rem;
  border-radius: 20px;
  margin: 0.2rem;
  cursor:pointer;
  color:white;
}

.country-badge-container {
  margin:1.5rem 0;
}

.country-badge:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0 0);
}

.graph-container p {
  color:grey;
}

.navbar {
  height: 5%;
  font-size: 1.5rem;
  background-color: #474646;
  color:white;
  font-weight: 800;
  padding: 0.5rem 1rem;
}